.Container {
  display: flex; 
  height: 400px;
  width: 480px;
  flex-direction: row;
  gap: 20px;
  background-image: url('Images/Calculator.png');
}
button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-family: Verdana;
  font-size: 19px;
}
