body{
  background-image: url("Images/image.png");
  display: inline-block;
  height: 100%;
  width: 100%;
}

p {
  font-size: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.Posters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}